#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.puzzle {
  max-width: 900px;
}

.character-selection-modal {
  width: 220px;
  color: gainsboro;
  background-color: #282828;
  border-radius: 5px;
  position: absolute;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.character-selection-radius {
  border-radius: 25px;
  border: solid limegreen 2px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-shadow: 0 0 15px 1px #00ff00;
}

.modal-x-button {
  position: absolute;
  left: 8px;
  top: 0px;
  cursor: pointer;
}

#navbar {
  position: relative;
  width: 800px;
  height: 90px;
  max-width: 800px;
  max-height: 90px;
  margin: 0 auto 40px;
  align-items: center;
}

#navtitle {
  position: absolute;
  left: 0;
}

#subtitle {
  position: absolute;
  left: 0;
  top: 68px;
  font-weight: 300;
}

#navlinksdiv {
  margin: 48px 0 0;
  position: absolute;
  right: 0;
}

#navlinks {
  padding: auto 0 auto;
  list-style-type: none;
}

#navlinks > li {
  display: inline;
  padding-left: 40px;
}

#navbar * span, #navbar * a {
  color: gainsboro !important;
  cursor: pointer;
}
